<section class="losers">
  <div class="loser-card" data-score="{{score}}" data-name="{{name}}" data-photoURL="{{photoURL}}" data-place="{{place}}">
    <div class="loser-card-info-container">
      <a href="#" class="card-title">{{name}}</a> <span class="card-score">{{score}}</span>
    </div>
  </div>
</section>
